.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "Header Header Header"
        "Main Main Main"
        "Footer Footer Footer";
    height: 100vh;
    overflow: hidden;
}


/* Weather */
.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#bg-image-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

#background-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  transform: scale(1.5);
  filter: brightness(0.5) blur(5px);
}

.temperature-container {
  display: flex;
  padding-right: 40px;
}

.weather-text {
  text-align: left;
  margin-left: -6px;
}

.temperature {
  font-size: 32px;
  padding-top: 28px;
}

.weather-description {
  text-transform: uppercase;
  font-size: 13px;
}

header {
  grid-area: Header;
  padding: 12px 24px;
}

.weather p {
  margin: 0;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
}

#journal {
  margin-bottom: 24px;
}

.surface {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: fit-content;
  padding: 24px 24px;
  width: 85%;
}

.left-wallpaper-control {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.wallpaper-control button {
  height: fit-content;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 64px;
  cursor: pointer;
  font-weight: 200;
  opacity: 0.5;
  transition: opacity 0.1s ease-in;
}

.right-wallpaper-control {
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

form {
  display: block;
  margin-top: 0em;
}

.journal-input {
  width: 100%;
  padding-top: 4px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: 500;
  outline: none;
  text-align: center;
}

input[type="text" i] {
  padding: 1px 2px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

main {
    grid-area: Main;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
}

.entries-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.surface-blue {
  background: rgba(69, 123, 157, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}
.surface-styles {
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.entries-list > * {
  margin-right: 16px;
  margin-bottom: 16px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.quote-message {
  margin: 0;
  margin-bottom: 4px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}

#quote {
  text-align: center;
}

.quote-author {
    opacity: 0.75;
    margin: 0;
}

footer {
  grid-area: Footer;
  padding: 24px;
}

footer {
  display: block;
}

.entries-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.surface-blue {
  background: rgba(69, 123, 157, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}

.surface-styles {
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.entries-list > * {
  margin-right: 16px;
  margin-bottom: 16px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.entry {
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  padding: 24px 24px;
  position: relative;
  font-size: 18px;
}

div {
  display: block;
}

.entry-actions-container {
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.entry-actions-container button {
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease-in;
  outline: none;
  color: white;
  font-weight: 700;
  padding: 4px 8px;
  cursor: pointer;
}

.remove {
  background: rgba(208, 2, 27, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}
.entry-actions-container > * {
  margin-right: 6px;
}
body, button {
  font-family: "Karla", sans-serif;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.done {
  background: rgba(80, 227, 194, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}

.entry:hover .entry-actions-container {
  opacity: 1;
}

.entry-done {
  background: rgba(155, 155, 155, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  opacity: 0.25;
}